!!!
%html
  %head
    %title RecaptchaExample
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = notice
    = alert
    - if user_signed_in?
      = link_to "logout", destroy_user_session_path, method: :delete
    - else
      = link_to "login", new_user_session_path
    = yield
